<form
  class="crud flex-column"
  autocomplete="off"
  [formGroup]="ItemsService.itemsFormGroup"
  (ngSubmit)="clickSave()"
>
  <div class="crud__elements">
    <div class="fields flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Código de articulo</mat-label>
        <input matInput type="text" formControlName="itemCode" />
        <mat-error *ngIf="ItemsService.itemCodeField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre de articulo</mat-label>
        <input matInput type="text" formControlName="itemName" />
        <mat-error *ngIf="ItemsService.itemNameField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código de barras</mat-label>
        <input matInput type="text" formControlName="barCode" />
        <mat-error *ngIf="ItemsService.barCodeField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="price" />
        <mat-error *ngIf="ItemsService.priceField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock" />
        <mat-error *ngIf="ItemsService.stockField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Categorias</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let item of listCategorys" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ItemsService.categoriesField.hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

     

      <button mat-raised-button color="primary" type="submit">GUARDAR</button>

      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="clickClear()"
      >
        LIMPIAR
      </button>
    </div>

    <div class="load-image flex-column">
      <div class="load-image__image">
        <img
          *ngIf="ItemsService.imageUrlField.value"
          [src]="ItemsService.imageUrlField.value"
        />
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          accept=".jpg,.jpeg,.png"
        />
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
        type="button"
      >
        <mat-icon>camera</mat-icon>
        IMAGEN
      </button>

      <mat-error *ngIf="ItemsService.imageUrlField.hasError('required')"
        >Este campo es requerido</mat-error
      >
    </div>
  </div>
</form>
